.cylin{
    position: relative;
    width: 226px;
    height: 346px;
    &:after{
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-mask: url("../img/bounce1.svg");
        -webkit-mask-size: cover;
        background: rgba(0,0,0,.5);
        // filter: invert(1);
    }
}

.header{
    position: relative;
    height: 600px;
    overflow: hidden;

    &:after{
        content: "";
        background: url("../img/banner.svg") bottom center;
        background-size: cover;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        // opacity: .5;
    }
    .container{
        position: relative;
        z-index: 1;
        color: #000;
        .mainText{
            position: absolute;
            top: 130px;
            right: 0;
            left: 0;
            text-align: center;
            font-size: 230px;
        }
        .subText{
            position: absolute;
            font-family: secundaryfont;
            top: 350px;
            right: 0;
            left: 0;
            text-align: center;
            font-size: 50px;
            opacity: .5;
        }
    }

    .flow{
        position: relative;
        z-index: -1;
        .cylin{
            position: absolute;
            width: 226px;
            height: 346px;
            &.first::after{
                background: linear-gradient(-169deg, adjust-hue(map-get($colors,default),-10%), map-get($colors,default));
            }
            &.second::after{
                background: linear-gradient(-169deg, map-get($colors,default), adjust-hue(map-get($colors,default),-10%));
            }
        }

        &.left,&.right{top: -116px;}

        &.left{
            // position: absolute;
            left: 0;
            .cylin.first{
                position: absolute;
                top: 117px !important;
                left: -62px !important;
            }
            .cylin.second{
                top: 223px !important;
                left: -63px !important;
            }
        }
        &.right{
            // position: absolute;
            right: 0;
            .cylin.first{
                position: absolute;
                top: 272px !important;
                right: -106px !important;
            }
            .cylin.second{
                top: 335px !important;
                right: -66px !important;
            }
        }
    }

    .crop{
        position: absolute;
        bottom: 0px;
        z-index: 1;
    }
}


.polvinho{
    position: relative;
    height: 270px;
    z-index: 9;
    img{
        width: 440px;
        position: absolute;
        top: -110%;
        left: 0;
        right: 0;
        margin: 0 auto;
        filter: drop-shadow(16px 16px 23px rgba(0,0,0,.2));
    }
}

.teams{
    text-align: center;
    .icon{
        position: relative;
        
        &.icon-1{
            img{width: 167px; margin-top: -19px;}
        } 
        &.icon-2{
            img{height: 156px;}
        }
        &.icon-3{
            img{width: 156px; margin-top: 1px;}
        }
        &.icon-4{
            img{width: 165px;}
        }
        &.icon-5{
            img{width: 173px;}
        }


        .bg-animate{
            height: 117px;
            width: 97px;
            position: absolute;
            top: -34px;
            left: 50%;
            transform: translateX(-50%);
            z-index: -1;
            opacity: .1;
        }
    }
    h3{
        font-size: 22px;
        font-weight: bold;
        letter-spacing: 1px;
    }
    p{
        text-align: left;
        letter-spacing: 1px;
        font-size: 14px;
        color: map-get($colors, dkgray);
    }
}



.count-up {

    .col{
        text-align: center;
        margin-bottom: 25px;
    }
    .icon-count{
        position: relative;

        .bg-animate{
            position: absolute;
            top: -35px;
            left: 50%;
            transform: translateX(-50%);
            height: 60px;
            width: 50px;
            z-index: -1;
            opacity: .1;
        }
    }
    svg{font-size: 30px;}
    .counter{
        font-size: 55px;
        line-height: 45px;
    }
    .nameteam{
        color: map-get($colors, dkgray);
    }

}


.section-1{

    [class*="col-"]{}
    .text-dkgray{
        font-weight: 100;
        line-height: 30px;
        margin-bottom: 0px;
    }
}


.cartoon-team{
    position: relative;
    width: 100%;
    
    .back{
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        height: 150%;
        filter: contrast(0);
        opacity: .1;
        z-index: -1;
    }
}



.boxes-link{
    margin-bottom: -120px;
    position: relative;
    z-index: 1;

    .col{
        div{
            text-align: center;
            color: #fff;
            padding: 15px;
            border-radius: 15px;
            height: 100%;
            position: relative;
            overflow: hidden;

            svg{
                font-size: 45px;
                margin: 20px 0px;}
            .text{
                opacity: .8;
                font-size: 12px;
                line-height: 17px;
            }

            &:before,
            &:after{
                content: '';
                position: absolute;
                -webkit-mask: url("../img/bounce1.svg");
                -webkit-mask-size: cover;
                background: rgba(255, 255, 255, .15);
                width: 88px;
                height: 135px;
                transition: all ease .4s;
            }

        }
        &:nth-child(1) div{
            background: map-get($colors, blue);
            &:before{top: -45%;left: 15%;}
            &:after{bottom: -45%;right: 12%;}
            &:hover:before{top: -25%;left: 8%;}
            &:hover:after{bottom: -35%;right: 8%;}
        }
        &:nth-child(2) div{
            background: map-get($colors, orange);
            &:before,&:after{transform: rotate(90deg);}
            &:before{top: -8%;left: -28%;}
            &:after{bottom: -37%;right: -20%;}
            &:hover:before{top: -3%;left: -20%;}
            &:hover:after{bottom: -23%;right: -3%;}
        }
    }
}