.inner{
    .header {
        height: 220px;
        .container{
            height: 100%;
            .mainText{
                top: 50%;
                transform: translateY(-50%);
                font-size: 40px;
            }
        }
        .crop{
            bottom: -19%;
        }
    }

    footer{
        padding-top: 30px;
        margin-top: 30px;

        .crop{
            top: -10px;
        }
    }
}



/*####################################################################################################################
####################################################  ABOUT US  ######################################################
####################################################################################################################*/
#about-us{


}


/*####################################################################################################################
###################################################  NEED HELP  ######################################################
####################################################################################################################*/
#need-help{
    
}


/*####################################################################################################################
###################################################  WANNA HELP  ######################################################
####################################################################################################################*/
#wanna-help{
    
}


/*####################################################################################################################
####################################################  EVENTS  ########################################################
####################################################################################################################*/
#events{
    
}


/*####################################################################################################################
#####################################################  TIPS  #########################################################
####################################################################################################################*/
#tips{
    p.title{
        
    }
    .list-chegada{
        li{
            margin-bottom: 10px;
            padding: 5px 10px;
            border-radius: 5px;
            
            &.ok{
                [class*="fa-"]{color: map-get($colors, green2);}
                &:hover{background: rgba(map-get($colors, green2),.2);}
            }
            &.warn{
                [class*="fa-"]{color: map-get($colors, orange);}
                &:hover{background: rgba(map-get($colors, orange),.2);}
            }
            &.danger{
                [class*="fa-"]{color: map-get($colors, red);}
                &:hover{background: rgba(map-get($colors, red),.2);}
            }
        }
        // .fa-check-circle{color: map-get($colors, green2);}
        // .fa-exclamation-circle{color: map-get($colors, orange);}
        // .fa-exclamation-triangle{color: map-get($colors, red);}
    }
    
}












/*####################################################################################################################
###################################################  MANUTENCAO  #####################################################
####################################################################################################################*/
.pgcriacao{
    p{
        svg{
            color: map-get($colors, dkgray);
        }
    }
    #manutencao{
        height: 150px;
        .st4{
            animation: sabredeluz 3s infinite;
        }
    }
}
@keyframes sabredeluz {
    from,to {fill: red;}
    50% {fill: map-get($colors, default);}
}