/*#########################################################
###########################################################
#######################  VARIABLES  #######################
###########################################################
#########################################################*/
@import 'variables';


/*#########################################################
###########################################################
#########################  MAIN  ##########################
###########################################################
#########################################################*/
*{
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: mainfont;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  color: #333;
  letter-spacing: 1px;
  background: map-get($colors, lggray);
}

.header .crop path,
footer .crop path{
  fill: map-get($colors, lggray);
}

// change highlight
::selection {
  background: rgba(lighten(map-get($colors, default),20%),.5); /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: rgba(lighten(map-get($colors, default),20%),.5); /* Gecko Browsers */
}

a{text-decoration: none !important;}

h1{text-align: center;}

.nck{
  pointer-events: none !important;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  user-drag: none;
  -webkit-touch-callout: none;
}


ul{
  li{
      transition: all ease .4s;
      &:hover{
          margin-left: 5px;
      }
  }
}


/*#########################################################
###########################################################
########################  NAVBAR  #########################
###########################################################
#########################################################*/
@import 'navbar';

/*#########################################################
###########################################################
########################  INDEX  ##########################
###########################################################
#########################################################*/
@import 'index';

/*#########################################################
###########################################################
########################  INNER  ##########################
###########################################################
#########################################################*/
@import 'inner';

/*#########################################################
###########################################################
########################  FOOTER  #########################
###########################################################
#########################################################*/
@import 'footer';

/*#########################################################
###########################################################
######################  RESPONSIVE  #######################
###########################################################
#########################################################*/
@import 'responsive';