@import '../../variables';

.product-list{
    max-width: 700px;
    margin: 20px auto 0;
    padding: 0 20px;
}
.product-list article{
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}

.product-list article p{
    font-size: 19px;
    color: #999;
    margin-top: 5px;
    line-height: 24px;
}

.product-list article a{
    height: 42px;
    border-radius: 5px;
    border: 1px solid map-get($colors, default);
    background: none;
    margin-top: 10px;
    color: map-get($colors, default);
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    transition: ease all .4s;

    display: flex;
    justify-content: center;
    align-items: center;
}

.product-list article a:hover{
    background: map-get($colors, default);
    color: #fff;
}

.product-list .actions{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.product-list .actions button{
    padding: 10px;
    border-radius: 5px;
    border:0;
    background: map-get($colors, default);
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}
.product-list .actions button:hover{opacity: .7;}

.product-list .actions button[disabled],
.product-list .actions button[disabled]:hover{
    opacity: .4;
    filter: grayscale(1);
    cursor: default;
}